* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    scroll-padding-top: 100px;
    /* background-color: #fdba74; */
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.border-fristsection img {
    width: 100%;
    height: auto;
    display: block;
}
.darsanam-bgpng {
    background-image: url("../images/darsanam-bg.png") !important;
}
.website-firstbg {
    background-image: url("../images/bannerImage.png") !important;
    height: 321px;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.website-main-logo {
    display: flex;
}

.py-30 {
    padding: 30px 0;
}

.website-main-logo img {
    height: 200px;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3),
        0 6px 6px rgba(0, 0, 0, 0.2); */
}

.website-main-logo h2 {
    color: #fff;
    font-family: ui-serif;
        font-style: italic;
    margin-bottom: 0%;
    font-size: 40px;
}

.bg-nav {
    background-color: rgb(217 184 151);
    border-radius: 12px;
    padding: 10px;
}

.bg-nav.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    color: #500724;
    font-weight: 600;
    text-transform: uppercase;
}

.bg-nav.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    padding: 10px;
    background-color: rgb(80 7 36);
    color: #fff;
    border-radius: 10px;
}

.btn.btn-login {
    background-color: #fdba74;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    padding: 14px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-right: 2px solid #500724;
}

.btn.btn-login:focus {
    box-shadow: none;
}

.btn.btn-login:hover {
    border-color: 500724;
    color: #fff;
}

.btn.btn-register {
    background-color: #fdba74;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn.btn-register:focus {
    box-shadow: none;
}

.btn.btn-register:hover {
    border-color: 500724;
    color: #fff;
}

.bg-first-section {
    background-color: rgb(231 209 182);
}

.location-for-site {
    position: relative;
}

.box-design-for-muharat {
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: rgb(246, 229, 199);
    padding: 10px 25px;
    border-radius: 14px;
    height: 270px;
    width: 260px;
    /* box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000); */
}

.box-design-for-muharat img {
    max-width: 150px;
    width: 100%;
    height: 150px;
    display: flex;
    margin: auto;
}

.box-design-for-muharat h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    color: #500724;
    margin-bottom: 10px;
}

.box-design-for-muharat p {
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    color: #500724;
    margin-bottom: 10px;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
}

.image-gallery img {
    border-radius: 12px;
    height: 300px;
    width: 100%;
}

.bg-astrological {
    background-color: rgb(246, 229, 199);
    padding: 30px;
    border-radius: 20px;
}

.bg-astrological h3 {
    font-size: 21px;
    font-weight: 900;
    color: #500724;
}

.services-img {
    display: flex;
}

.services-img img {
    height: 150px;
    max-width: 150px;
    /* width: 100%; */
    margin-right: 15px;
}

.bg-astrological h4 {
    color: #500724;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
}

.bg-astrological p {
    font-size: 12px;
    color: #500724;
    /* margin-bottom: 20px; */
    font-weight: 400;
}

.img-gallery-two {
    display: flex;
    position: relative;
    max-width: 180px;
    height: 180px;
    width: 100%;
    padding: 0 5px;

}

.img-gallery-two img {
    border-radius: 16px;
    width: 100%;
    object-fit: cover;
}

.img-gallery-two h3 {
    position: absolute;
    color: #fff;
    left: 41%;
    top: 16%;
    font-size: 12px;
    transform: translate(-50%, -50%) !important;
}

.bg-temple {
    background-color: #500724;
    border-radius: 14px;
    position: relative;
    height: 100%;
}

.bg-temple img {
    position: absolute;
    /* background-position: left; */
    right: 0%;
    bottom: 0%;
    height: -webkit-fill-available;
}

.text-temple {
    display: flex;
    padding: 50px;

}

.text-temple h3 {
    font-size: 21px;
    color: #fff;
    font-weight: 900;
    margin-right: 20px;
    /* display: flex; */
}

.text-temple img {
    /* background-color: aquamarine; */
    width: 10px;
}

.text-temple h4 {
    font-size: 16px;
    font-weight: 900;
    color: #fff;
}

.border-left {
    border-left: 3px solid #ffffff;
}

.tt-text h5 {
    font-size: 12px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.card-design {
    display: flex;
    align-items: center;
    border-radius: 16px;
    background-color: #78716C;
    padding: 30px 40px;
}

.card-imgs {
    margin-right: 30px;
    border-radius: 50%;
}

.card-imgs img {
    /* width: 100%; */
    max-width: 200px;
    height: 200px;
    border: 8px solid #500724;
    /* display: flex; */
    border-radius: 50%;
    /* justify-content: center; */
    object-fit: cover;
}

.card-txt h3 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 400;
}

.card-txt a {
    background-color: #fff;
    border: 2px solid #fff;
    padding: 10px 10px;
    width: 100%;
    border-radius: 40px;
    color: #500724;
    font-size: 26px;
}

.card-txt a:hover {
    background-color: #500724;
    color: #fff;
}

.book-btn {
    background-color: #fff;
    border: 2px solid #fff;
    padding: 4px 36px;
    /* width: 100%; */
    border-radius: 14px;
    color: #500724;
    font-size: 21px;
    font-weight: 600;
}

.book-btn:hover {
    background-color: #500724;
    color: #fff;
}

.second-card {
    background-color: rgb(193, 114, 75) !important;
}

.second-card-to {
    border-radius: 16px;
    padding: 40px;
    background-color: rgb(193, 114, 75);
    position: relative;
}

.second-card-to h5 {
    font-size: 21px;
    font-weight: bolder;
    color: #500724;
    text-align: center;
    margin-bottom: 20px;

}

.second-card-to img {
    position: absolute;
    right: 0%;
    bottom: 0%;
    height: -webkit-fill-available;
    z-index: 1;
    width: 262px;
    height: 361px;
}

.calendar {
    width: 350px;
    background: transparent;
    padding: 20px;
    border-radius: 12px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
}

.calendar header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.calendar .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
}

.calendar .day-name {
    font-weight: bold;
    color: #ffffff;
}

.calendar .day {
    /* background: #f0f0f0; */
    padding: 10px 0;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    transition: background 0.3s;
}

.calendar .day:hover {
    background: #fff;
    color: transparent;
}

.bg-select {
    background-color: rgb(235, 169, 57);
    border-radius: 16px;
    position: relative;
    height: 100%;
    padding: 40px;
}

.bg-select img {
    position: absolute;
    right: 0%;
    bottom: 0%;
    height: -webkit-fill-available;
}

.bg-select h3 {
    font-size: 21px;
    font-weight: bolder;
    text-align: center;
}

.bg-select select {
    background-color: transparent !important;
    border-color: transparent;
    color: #fff;
    background-image: none;
    font-size: 21px;
}

.bg-select select:focus {
    box-shadow: none;
}

.bg-select input {
    background-color: transparent;
    border-color: transparent;
    color: #fff !important;
    font-size: 21px;
    background-image: none;
}

.bg-select input:focus {
    box-shadow: none;
    background-color: transparent;
    border-color: transparent;
}

.bg-red {
    background-color: rgb(193, 114, 75);
    border-radius: 16px;
    padding: 40px;
    height: 310px;
}

.bg-red img {
    background-color: #500724;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.bg-red h3 {
    font-size: 21px;
    font-weight: bold;
    color: #500724;
    text-align: center;
    margin-top: 20px;
}

.sss {
    background-color: #FDBA74;
}

.bg-brown {
    background-color: #500724;
    border-radius: 16px;
    padding: 20px;
}

.donate-img img {
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    width: 100%;
    height: 500px;
    margin: auto;
}

.donate-icon img {
    background-color: #FED7AA;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: flex;
    margin: auto;
}

.donate-icon h3 {
    color: rgb(246, 229, 199);
    font-size: 21px;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
}

.bg-brown h6 {
    margin-bottom: 0%;
    font-size: 40px;
    color: #fff;
    font-weight: bolder;
    text-align: center;
}

.bg-brown-two {
    background-color: #500724;
    border-radius: 16px;
    padding-bottom: 200px;
}

.bg-brown-two h3 {
    background-color: #d6d3d6;
    padding: 30px;
    border-radius: 16px 16px 0px 0;
    font-size: 21px;
    color: #500724;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 100px !important;
}

.divine {
    background-color: #FDBA74;
    border-radius: 30px;
    padding: 20px;
    margin: 0 20px;
}

.divine img {
    height: 150px;
    width: 150px;
    display: flex;
    margin: auto;
}

.divine h3 {
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}

.divine a {
    font-size: 21px;
    color: #500724;
    font-weight: bold;
}

.footer-img img {
    border-radius: 16px;
    height: 100%;
}

.heading_label label {
    font-size: 21px;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
}

.checkbox label {
    color: #fff;
    size: 21px;
    text-transform: uppercase;
}

.checkbox input:focus {
    box-shadow: none;
}

.checkbox textarea:focus {
    box-shadow: none;
}

.btn-one {
    font-size: 21px;
    font-weight: bolder;
    color: #fff;
}

.btn-one:focus {
    box-shadow: none;
}

.bg-min-yellow {
    background-color: rgb(246, 229, 199);
    border-radius: 16px;
}

.bg-community {
    background-color: rgb(205, 163, 108);
    padding: 40px;
    border-radius: 16px;
}

.comunity-txt h3 {
    font-size: 21px;
    color: #500724;
    margin-bottom: 10px;
    font-weight: bolder;
}

.comunity-txt p {
    font-size: 14px;
    font-weight: 400;
}

.community-threat {
    display: flex;
    margin-bottom: 20px;
}

.community-threat img {
    height: 165px;
    width: 250px;
    border-radius: 16px;
}

.threat-details {
    background-color: rgb(246, 229, 199);
    border-radius: 16px;
    padding: 20px 10px;
    margin-left: 10px;
}

.threat-details h3 {
    font-size: 16px;
    margin-bottom: 20px;
}

.threat-details p {
    font-size: 12px;
    margin-bottom: 0%;
}

.hindu {
    display: flex;
    align-items: start;
}

.hindu-icon img {
    border-radius: 50%;
    max-width: 100px;
    height: 100px;

    object-fit: cover;
    margin-right: 30px;
}

.hindu h3 {
    font-size: 18px;
    padding-top: 21px;
    margin-bottom: 12px;
    color: #15803D;
}

.hindu h4 {
    color: #3f3f46;
    font-size: 14px;
    margin-bottom: 10px;
}

.hindu h5 {
    font-size: 14px;
    color: #3f3f46;
}

.hindu-img img {
    border-radius: 16px;
    height: 210px;
    max-width: 250px;
    object-fit: contain;
}

.bg-onee {
    background-color: #D6D3D1;
    padding: 15px;
}

.bg-onee input {
    font-size: 18px;
}

.bg-onee label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0%;
    color: #000000;
}

.bg-two {
    background-color: #a8a29e;
    padding: 15px;
}

.bg-two input {
    font-size: 18px;
}

.bg-two label {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 0%;
    color: #000000;
}

.bg-three {
    background-color: #78716c;
    padding: 15px;
}

.bg-three input {
    font-size: 18px;
}

.bg-three label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0%;
    color: #000000;
}

.bg-four {
    background-color: #854d0e;
    padding: 15px;
}

.bg-four input {
    font-size: 18px;
}

.bg-four label {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 0%;
    color: #000000;
}

.bg-five {
    background-color: #500724;
    padding: 15px;
}

.bg-five input {
    font-size: 18px;
}

.bg-five label {
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 0%;
}

.footer-link h5 {
    font-size: 24px;
    font-weight: 700;
    color: #500724;
    margin-bottom: 10px;
}

.footer-link ul li a {
    color: #000000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.footer-bottom h3 {
    color: #000000;
    font-size: 18px;
    margin-bottom: 0%;
    text-align: center;
}

.footer-bottom h3 a {
    color: #000000;
}

.fro-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-sp {
    display: flex;
    justify-content: space-between;
}
.checkbox-padding{
    padding-top: 2px;
}

.ff-three {
    display: flex;
}
.green-bg{
    background-color: #15803D;
    border-radius: 16px;
}
.silver-bg{
    background-color: #78716c;
    border-radius: 16px;
}
/* media  */

/* 1680 */
@media (max-width: 1700px) {
    .card-imgs img {
        max-width: 140px;
        height: 140px;
    }

    .image-gallery img {
        height: 260px;
        width: 100%;
    }
}

/* 1500 */
@media (max-width: 1679px) {
    .website-main-logo h2 {
        font-size: 36px;
        font-family: ui-serif;
    }

    .card-design {
        padding: 15px;
    }

    .image-gallery img {
        height: 240px;
        width: 100%;
    }
}

/* 1440 */
@media (max-width: 1499px) {
    .img-gallery-two {
        max-width: 150px;
        height: 150px;
    }

    .donate-icon img {
        height: 180px;
        width: 180px;
    }

    .bg-onee label {
        font-size: 21px;
    }

    .bg-two label {
        font-size: 21px;
    }

    .bg-three label {
        font-size: 21px;
    }

    .bg-four label {
        font-size: 21px;
    }

    .bg-five label {
        font-size: 21px;
    }

    .footer-link h5 {
        font-size: 21px;
    }

    .image-gallery img {
        height: 210px;
        width: 100%;
    }
}

/* 1280 */
@media (max-width: 1439px) {
    .website-main-logo h2 {
        font-size: 30px;
        font-family: ui-serif;
    }

    .website-main-logo img {
        height: 180px;
        /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.2); */
    }

    .image-gallery img {
        height: 190px;
    }

    .card-imgs img {
        max-width: 120px;
        height: 120px;
    }

    .card-txt a {
        padding: 0px 40px;
        font-size: 14px;
    }

    .card-txt h3 {
        font-size: 21px;
        margin-bottom: 20px;
    }

    .donate-img img {
        height: 271px;
    }


    .bg-brown h6 {
        font-size: 21px;
    }

    .divine h3 {
        font-size: 16px;
    }

    .divine {
        padding: 14px;
        margin: 0 8px;
    }

    .checkbox label {
        font-size: 14px;
    }

    .btn-one {
        font-size: 14px;
    }

    .bg-community {
        padding: 26px;
    }

    .comunity-txt h3 {
        font-size: 21px;
    }

    .bg-onee label {
        font-size: 16px;
    }

    .bg-two label {
        font-size: 16px;
    }

    .bg-three label {
        font-size: 16px;
    }

    .bg-four label {
        font-size: 16px;
    }

    .bg-five label {
        font-size: 16px;
    }


}

/* 1025 */
@media (max-width: 1279px) {
    .services-img img {
        margin-bottom: 10px;
    }

    .bg-nav.navbar-light .navbar-nav .nav-link {
        font-size: 17px;
    }

    .btn.btn-login,
    .btn.btn-register {
        font-size: 17px;
    }

    .card-txt a {
        padding: 0px 40px;
        font-size: 14px;
    }

    .card-design {
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
    }

    .bg-select {

        padding: 90px 40px;
    }

    .donate-img img {
        height: 330px;
    }

    .bg-brown h6 {
        font-size: 18px;
    }

    .donate-icon h3 {
        font-size: 16px;
    }

    .bg-red {
        padding: 20px;
    }

    .bg-red h3 {
        font-size: 16px;
    }

    .bg-brown-two h3 {
        font-size: 21px;
    }

    .divine h3 {
        font-size: 14px;
    }

    .divine a {
        font-size: 16px;
    }

    .footer-img img {
        height: 400px;
        display: flex;
        margin: auto;
        margin-bottom: 20px;
    }

    .checkbox {
        margin-bottom: 20px;
    }

    .community-threat img {
        width: 220px;
    }

    .bg-onee label,
    .bg-two label,
    .bg-three label,
    .bg-four label,
    .bg-five label {
        font-size: 14px;
        font-weight: 600;
    }

    .bg-onee input,
    .bg-two input,
    .bg-three input,
    .bg-four input,
    .bg-five input {
        margin-top: 0%;
    }

    .footer-link h5 {
        font-size: 21px;
    }

    .footer-link ul li a {
        font-size: 14px;
    }
}

/* 992 */
@media (max-width: 1024px) {}

/* 768 */
@media (max-width: 991px) {
    .website-main-logo img {
        height: 160px;
        /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.2); */
    }

    .website-main-logo h2 {
        font-size: 28px;
        font-family: ui-serif;
        text-align: center;
    }

    .fro-nav {
        align-items: start;
        margin-top: 10px;
    }

    .bg-nav.navbar-light .navbar-nav .nav-link {
        font-size: 16px;
    }

    .bg-nav.navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .show>.nav-link {

        border-radius: 3px;
    }

    .btn.btn-login,
    .btn.btn-register {
        font-size: 16px;
        padding: 12px 20px;
    }

    .text-temple {
        padding: 30px;
    }

    .text-temple h4 {
        font-size: 16px;
    }

    .text-temple h3 {
        font-size: 18px;

    }

    .second-card-to {
        padding: 20px;
    }

    .calendar .days {
        gap: 6px;
    }

    .bg-red {
        height: -webkit-fill-available;
    }

    .donate-icon img {
        height: 140px;
        width: 140px;
    }

    .donate-icon h3 {
        font-size: 14px;
        margin-top: 5px;
    }

    .donate-img img {
        height: 275px;
    }

    .bg-brown h6 {
        font-size: 16px;
    }

    .bg-brown-two h3 {
        font-size: 16px;
        padding: 20px;
        margin-bottom: 0% !important;
    }

    .bg-brown-two {
        margin-bottom: 14px;
    }

    .divine a {
        font-size: 16px;
        padding: 0%;
    }

    .footer-img img {
        height: 340px;
    }

    .checkbox label {
        font-size: 14px;
    }

    .hindu h3 {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .hindu h5 {
        font-size: 14px;
    }

    .hindu-img img {
        border-radius: 16px;
        height: -webkit-fill-available;
        max-width: 200px;
    }

    .checkbox-sp {
        flex-direction: column;
    }

    .checkbox-sp .form-check {
        margin-bottom: 10px;
    }
}

/* 576 */
@media (max-width: 767px) {
    .website-main-logo img {
        height: 120px;
    }

    .website-main-logo h2 {
        font-size: 20px;
        font-family: ui-serif;
        text-align: center;
    }

    .box-design-for-muharat img {
        max-width: 80px;
        height: 80px;
    }

    .box-design-for-muharat h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .box-design-for-muharat p {
        font-size: 16px;
    }

    .box-design-for-muharat {
        height: 220px;
        width: 200px;
    }

    .image-gallery {
        flex-direction: row;
        height: 190px;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .image-gallery img {
        height: 190px;
        max-width: 180px !important;
    }

    .services-img img {
        height: 150px;
        max-width: 150px;
        margin-right: 10px;
        border-radius: 10px;
    }

    .bg-astrological {
        /* background-color: #fef3c7; */
        padding: 20px 10px;
        border-radius: 20px;
    }

    .bg-astrological h3 {
        font-size: 9px;
        margin-bottom: 0%;
    }

    .bg-astrological h4 {
        font-size: 16px;
    }

    .bg-astrological p {
        margin-bottom: 10px;
    }

    .bg-temple img {
        height: 35vh !important;
    }

    .tt-text h5 {
        font-size: 12px;
        margin: 50px 0;
    }

    .card-txt h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .card-txt a {
        padding: 0px 21px;
        font-size: 14px;
    }

    .card-imgs img {
        max-width: 90px;
        height: 90px;
    }

    .second-card-to img {
        /* height: -webkit-fill-available; */
        bottom: 0% !important;
        height: 46vh !important;
        top: auto;
    }

    .calendar {
        width: 300px;
        padding: 10px;
    }

    .calendar .days {
        gap: 0px;
    }

    .second-card-to h5 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .bg-select h3 {
        font-size: 16px;
        font-weight: bolder;
        text-align: start;
    }

    .bg-select select {
        font-size: 14px;
    }

    .bg-select input {
        font-size: 14px;
    }

    .book-btn {
        padding: 8px 20px;
        border-radius: 14px;
        font-size: 16px;
    }

    .bg-red img {
        width: 100px;
        height: 100px;
        display: flex;
    }

    .bg-red h3 {
        font-size: 16px;
    }

    .donate-img img {
        height: 210px;
        max-width: 210px;
    }

    .donate-icon img {
        height: 100px;
        width: 100px;
    }

    .bg-red h3 {
        font-size: 14px;
        margin-bottom: 0%;
    }

    .bg-brown h6 {
        font-size: 14px;
    }

    .bg-brown-two h3 {
        font-size: 14px;
        padding: 14px;
        margin-bottom: 0% !important;
    }

    .bg-brown-two {
        padding-bottom: 120px;
    }

    .divine h3 {
        font-size: 14px;
    }

    .divine a {
        font-size: 14px;
        padding: 0%;
    }

    .heading_label label {
        font-size: 18px;
        margin-bottom: 0%;
    }

    .checkbox label {
        font-size: 12px;
    }

    .btn-one {
        font-size: 16px;
    }

    .comunity-txt h3 {
        font-size: 16px;
    }

    .community-threat img {
        width: 275px;
    }

    .threat-details {
        padding: 15px;
    }

    .threat-details h3 {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .comunity-txt {
        margin-top: 16px;
    }

    .hindu h3 {
        font-size: 12px;
    }

    .hindu h4 {
        font-size: 14px;
    }

    .hindu h5 {
        font-size: 12px;
    }

    .footer-link h5 {
        font-size: 16px;
    }

    .footer-link ul li a {
        font-size: 14px;
    }

    .footer-bottom h3 {
        font-size: 16px;
    }
}

/* 525 */
@media (max-width: 575px) {
    .image-gallery img {
        height: 140px;
        max-width: 140px !important;
    }
    .maptwo_imagehide{
        display: none;
    }

    .bg-temple img {
        height: 26vh !important;
    }

    .second-card-to img {
        height: 35vh !important;
        /* top: auto; */
    }

    .bg-select img {
        height: 65vh;
    }

    .btn-one {
        font-size: 16px;
        padding: 0;
    }

    .comunity-txt {
        margin-top: 16px;
    }

    .community-threat img {
        width: 250px;
        height: 140px;
    }

    .hindu-img img {
        max-width: 150px;
    }

    .hindu-icon img {
        max-width: 80px;
        height: 80px;
    }
}

/* 480 */
@media (max-width: 524px) {
    .website-main-logo h2 {
        font-size: 18px;
        font-family: ui-serif;
        /* text-align: center; */
    }

    .website-main-logo img {
        height: 90px;
    }

    .navbar-toggler {
        font-size: 0.95rem;
    }

    .text-temple {
        padding: 30px 10px;
    }

    .text-temple h3 {
        font-size: 16px;
    }

    .text-temple h4 {
        font-size: 12px;
    }

    .ff-three {
        flex-direction: column;
    }

    .tt-text h5 {
        font-size: 10px;
        margin: 40px 0;
    }

    .bg-temple img {
        height: 20vh !important;
    }

    .checkbox {
        margin-bottom: 20px;
        flex-direction: column;
    }

    .btn-one {
        font-size: 12px;
        padding: 10px;
        background: #fdba74;
    }
}

/* 425 */
@media (max-width: 479px) {
    .box-design-for-muharat img {
        max-width: 50px;
        height: 50px;
    }

    .box-design-for-muharat {
        height: 190px;
        width: 170px;
        padding: 10px;
    }

    .image-gallery img {
        height: 120px;
        max-width: 120px !important;
    }

    .img-gallery-two {
        max-width: 110px;
        height: 100px;
    }

    .bg-astrological h3 {
        font-size: 9px;
        margin-bottom: 0%;
    }

    .second-card-to img {
        display: none;
    }

    .bg-select img {
        height: 40vh;
    }

    .bg-select {
        padding: 30px 20px;
    }

    .image-gallery img {
        height: 100px;
        max-width: 100px !important;
    }
        .bg-select img{
            display: none;
        }
.bg-red {
    height: fit-content;
}
.btn-one {
    font-size: 12px;
    padding: 10px;
    background: #fdba74;
    margin: 0 5px;
}
        .community-threat img {
            width: 250px;
            height: 90px;
        }
}

/* 375 */
@media (max-width: 424px) {}

/* 320 */
@media (max-width: 374px) {}

/* 280 */
@media (max-width: 319px) {}