<div class="">
                    <footer class="bd-footer  mt-5 ">
                        <div class="container-fluid ">
                            <div class="row justify-content-between">
                                <div class="col-6 col-lg-4 mb-3">
                                    <div class="footer-link">
                                        <h5>Amazing Facts...</h5>
                                        <ul class="list-unstyled">
                                            <li class="mb-2"><a href="">Why do web do it ?</a></li>
                                            <li class="mb-2"><a href="">Types of marriages</a></li>
                                            <li class="mb-2"><a href="">mpdern day marriages</a></li>
                                            <!-- <li class="mb-2"><a href="">Parcel</a></li> -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4 mb-3">
                                    <div class="footer-link">
                                        <h5>TEMPLES OUTSIDE INDIA</h5>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="footer-bottom">
                                <h3>Copyrights @ 2025 <a href="#">Darsanam</a>. All Rights Reserved</h3>
                            </div>
                        </div>
                    </footer>
                </div>