{% load static %}
<div class="container px-0">
    <div class="border-fristsection">
        <img src="{% static 'frontend/assets/images/borderfirstsection.png' %}" alt="border-first-section">
    </div>

    <div class="website-firstbg">
        <div class="container-fluid px-0">
            <div class="row py-30 align-items-center justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="website-main-logo">
                        <img src="{% static 'frontend/assets/images/dadrshanmainlogo.png' %}" alt="darshan website main logo">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="website-main-logo justify-content-center">
                        <h2 class="text-center">Indian Temples and Spirituality Website</h2>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="website-main-logo justify-content-end">
                        <img src="{% static 'frontend/assets/images/dadrshanmainlogo.png' %}" alt="darshan website main logo">
                    </div>
                </div>
            </div>

            <!-- Navigation Bar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-nav mt-3 mt-sm-0">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav w-100 fro-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <div class="language-selector">
                                    <form action="{% url 'set_language' %}" method="post">
                                        {% csrf_token %}
                                        <input name="next" type="hidden" value="{{ request.path }}">
                                        <select name="language" class="form-select" onchange="this.form.submit()">
                                            <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
                                            <option value="hi" {% if LANGUAGE_CODE == 'hi' %}selected{% endif %}>हिंदी</option>
                                            <option value="ta" {% if LANGUAGE_CODE == 'ta' %}selected{% endif %}>தமிழ்</option>
                                            <option value="te" {% if LANGUAGE_CODE == 'te' %}selected{% endif %}>తెలుగు</option>
                                            <option value="kn" {% if LANGUAGE_CODE == 'kn' %}selected{% endif %}>ಕನ್ನಡ</option>
                                            <option value="ml" {% if LANGUAGE_CODE == 'ml' %}selected{% endif %}>മലയാളം</option>
                                            <option value="gu" {% if LANGUAGE_CODE == 'gu' %}selected{% endif %}>ગુજરાતી</option>
                                            <option value="as" {% if LANGUAGE_CODE == 'as' %}selected{% endif %}>অসমীয়া</option>
                                            <option value="mr" {% if LANGUAGE_CODE == 'mr' %}selected{% endif %}>मराठी</option>
                                        </select>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#">Fasting Days</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">This Week</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Good & Progress</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Deekshas</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Festivals</a></li>
                            <li class="nav-item">
                                <div class="d-flex p-0">
                                    <a class="btn btn-login me-2" href="{% url 'user_login' %}">LOG-IN</a>
                                    <a class="btn btn-register" href="{% url 'user_register' %}">REGISTER</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
